.navigation {
    background-color: red;

    display: grid;
    grid-template-columns: 1fr 1fr;

    &__logo-box {
        img {
            height: 5rem;
            margin-top: 1rem;
            margin-left: 1rem;
        }
    }

    &__nav {

    }

    &__list {

    }

    &__item {

    }

}

.section__slider {
    background-color: green;
}

.section__about {
    background-color: purple;
}

.section__makeup {
    background-color: yellowgreen;
}

.section__portfolio{
    background-color: pink;
}

.section__contact {
    background-color: orange;
}

.section__googlemap {
    background-color: brown;
}

.section__footer {
    background-color: gray;
}