$color-primary: #304ffe;
$color-primary-light: #3d5afe;
$color-primary-dark: #1a237e;

$color-grey-light-1: #bdbdbd;
$color-grey-light-2: #e0e0e0;
$color-grey-light-3: #f7f4f4;

$color-grey-dark-1: #616161;
$color-grey-dark-2: #424242;

$defoult-font-size: 1.6rem;
$defoult-font-family: Josefin Sans;