#slider {
    width: 100%;
    height: 88vh;
    text-align: center;


    overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);

    ul {
      position: relative;
      list-style: none;
      height: 100%;
      width: 900%;
      padding: 0;
      margin: 0;
      transition: all 750ms ease;
      left: 0;
      display: grid;
      grid-template-columns: 1fr;

      li {
        height: 90%;
        width: 100%
        text-align: center;
        float: left;

        img {
            object-fit: cover;
            display: block;
            height: 100%;
            margin: 0px auto;
        }
      }
    }

// BUTTONS TO CHANGE SLIDES
    #prev, #next{
      width: 8rem;
      line-height: 8rem;
      border-radius: 50%;
      font-size: 8rem;
      text-shadow: 0 0 20px rgba(0,0,0,0.6);
      text-align: center;
      color: white;
      text-decoration: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 150ms ease;
      &:hover {
        background-color: rgba(0,0,0,0.5);
        text-shadow: 0;
      }
    }
    #prev {
      left: 6rem;
    }
    #next {
      right: 6rem;
    }
  }