.btn {
    &,
    &:link,
    &:visited {
        height: 3rem;
        width: 10rem;
        text-decoration: none;
        padding: 1.4rem 2.5rem;
        display: inline-block;
        transition: all .2s;
        position: relative;

        // Change gor the <button> element
        border: none;
        cursor: pointer;
    }

    &__send {
        background-color: $color-primary;
        color: #fff;
    }
}