.card {
    position: relative;
    perspective: 150rem;
    height: 32rem;
    transition: all .4s;
    font-size: $defoult-font-size;

    &__side {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(0,0,0, .45);
        display: flex;
        align-items: center;
        justify-content: center;

        &-front--1 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            text-transform: uppercase;
        }

        &-back--1 {
            background-color: orchid;
            transform: rotateY(-180deg);
            text-align: center;
        }
    }

    &:hover &__side-front {
        transform: rotateY(180deg);
    }

    &:hover &__side-back {
        transform: rotateY(0);
    }
}