.card {
    margin-bottom: 10rem;
    width: 100%;
   // background-color: #fff;

    height: 32rem;

    &__front {
       background-color: orangered;
       z-index: 1;
    }

    &__back {
        background-color: orchid;
        transform: rotate(-180deg);
        z-index: 0;

        &:hover {
            z-index: 2;
        }
    }
}