.card {
    margin-bottom: 10rem;
    width: 100%;
    background-color: #fff;

    height: 32rem;



    &__front--1 {
        height: 100%;
        width: 100%;
        background-color: orangered;
        //transform: rotateY(-180deg);
    }

    &__back--1 {
        background-color: orchid;
        transform: rotateY(-180deg);
        z-index: 0;


    }
}