
    .story {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(2, 1fr);

        &__shape {
            grid-row: 1 / 2;

            &__icon {
                grid-column: 1 / -1;
            }

        }

        &__text-box {
            grid-row: 2 / -1;
            &--text {

            }

        }

        &__stars {

            &__icon-full {

            }

            &__icon-empty {

            }
        }

        &__icon-like {

        }

    }